.above {
    background-color: #2c3e50;
    color: white;
    text-align: center;
}

.content {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

.description {
    margin: 0;
    text-align: center;
    align-self: center;
    
}

.list {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: center;
    align-self: center;
    
}

.item {
    padding: 0 10px;
    align-self: center;
}

.link {
    color: white;
    text-decoration: none;
    display: ;inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.below {
    background-color: #233140;
    color: white;
    padding: 25px 0;
    text-align: center;
}